{% extends 'base.html' %}
{% load static %}

]{% block css_files %}
    <link rel="stylesheet" href="{% static "Challenges/challenges.css" %}">
{% endblock css_files %}


{% block page_title %}
    {{ month_name|title }} Challenge
{% endblock page_title %}
    
{% block content %}
    {% include "Challenges/includes/header.html" %}
    
    <h1> {{ month_name|title }} Challenge </h1>
    {% if text is not None %}
       <h2> {{ text }}</h2>
    {% else %}
       <h3>There is no challenge for this month yet!</h3>
    {% endif %}
{% endblock content %}

